* {
  box-sizing: border-box;
}

:root {
  --accent-color: #2ff598;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: system-ui;
  color: rgb(0 0 0 / 0.8);
}

.app {
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  max-width: 1024px;
  margin: auto;
}

.account {
  align-self: end;
  padding: 8px 16px;
  margin-bottom: 24px;
  border-radius: 0 0 8px 8px;

  background-color: #f7f7f7;
  color: #9b9b9b;
}

.account__address {
  font-weight: 700;
  font-family: monospace;
}

.button {
  cursor: default;
  display: inline-block;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;

  background-color: var(--accent-color);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;
}

.button--big {
  font-size: 24px;
  padding: 16px 24px;
}

.button:hover {
  background-color: #75ffbf;
}

.button--dangerous {
  background-color: #f54b34;
  color: white;
}

.button--dangerous:hover {
  background-color: #f78c7e;
}

.form {
  display: grid;
  max-width: 512px;
  grid-template-columns: auto 1fr;
  row-gap: 24px;
  column-gap: 16px;
}

.form__label {
  justify-self: end;
  align-self: center;
  color: #9b9b9b;
  font-weight: bold;
}

.form__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: inherit;
}

.form__submit {
  grid-column: 2;
  justify-self: start;
}

.input {
  width: auto;
  min-width: none;
  max-width: none;
  flex-grow: 1;
  padding: 12px 16px;
  border: none;
  background-color: #f7f7f7;
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
}

.input:read-only {
  color: rgb(0 0 0 / 0.5);
}

.input:focus {
  outline: 3px solid #23d683;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background-color: lightpink;
}
