.authentication {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 128px;
}

.authentication__header {
  text-align: center;
}

.authentication__heading,
.authentication__warning {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.authentication__heading {
  font-size: 48px;
}

.authentication__warning {
  color: indianred;
  font-size: 32px;

  margin-bottom: 32px;
}

.authentication__help {
  font-size: 16px;
  color: gray;
}
