.header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
}

.header__controls {
  display: flex;
  gap: 8px;
}
