.add-cashier {
  max-width: 640px;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 24px;
}

.add-cashier__submit {
  grid-column: revert;
}

.cashiers {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cashier {
  max-width: 640px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  padding-left: 16px;
}

.cashier:nth-child(2n) {
  background-color: #ececec;
}

.cashier:nth-child(2n + 1) {
  background-color: #f7f7f7;
}

.cashier:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cashier:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cashier__address {
  font-family: monospace;
}
