.room__info {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 24px;
  column-gap: 16px;
  margin: 0;
  align-items: start;
  justify-items: start;
}

.room__internal-name {
  margin: 0;
  font-weight: bold;
  opacity: 0.5;
}

.room__label {
  justify-self: end;
  color: #9b9b9b;
  font-weight: bold;
  margin: 0;
}

.room__status {
  margin: 0;
}

.room__value {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin: 0;
}

.room__contract-address,
.room__tenant {
  font-family: monospace;
  align-self: center;
}

.file-upload {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}

.public-name-edit {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
