.rooms {
  display: grid;
  grid-template-columns: repeat(2, minmax(256px, 1fr));
  gap: 24px;
}

.room-card {
  display: grid;
  grid-template-areas:
    "name   name"
    "status details";
  column-gap: 16px;
  row-gap: 24px;

  background-color: #f1fcf7;
  border-radius: 8px;
  padding: 16px;
}

.room-card__name {
  grid-area: name;
  margin: 0;
  font-weight: bold;
}

.room-card__status {
  grid-area: status;
  align-self: center;
  margin: 0;
  color: #6cc29a;
}

.room-card__details {
  grid-area: details;
  justify-self: end;
}
