.app--ticket {
  min-height: 100vh;
  justify-content: space-between;
}

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.ticket__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0 0 0 / 0.5);
}

.ticket__store {
  display: block;
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 8px;
  color: rgb(0 0 0 / 0.8);
  line-height: 1;
}

.ticket__value {
  display: block;
  font-size: 64px;
  font-weight: bold;
  margin: 32px 0;
  color: rgb(0 0 0 / 0.8);
  line-height: 1;
}

.ticket__deadline {
  font-weight: bold;
  color: rgb(0 0 0 / 0.8);
  line-height: 1;
  margin: 8px 0;
}

.ticket .button {
  align-self: start;
}

.ticket__past-deadline {
  color: #f54b34;
  font-weight: bold;
  font-size: 36px;
}

.ticket__success {
  font-size: 64px;
}
